@charset "utf-8";

$wrapper-width-pc: 1600px;
$wrapper-width-laptop: 1024px;
$wrapper-width-tablet: 768px;
$font-sans: "Cairo", sans-serif;
$font-size: 0.16rem;
$font-weight: 400;
$line-height: calc(28 / 16);
$color-default: rgb(0, 6, 13, 1);
$color-white: rgb(251, 252, 253, 1);
